# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Ignore actual environment files
.env.development
.env.local
.env.prod

# But keep the example files visible
!.env.development.example
!.env.local.example
!.env.prod.example